* { box-sizing: border-box; }

html, body{
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;

    font-size: 16px;
}

body {
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
    background-image: url(/images/bg-intro-desktop.png);
    background-size: cover;
}

main {
    height: 100%;
    display: grid;
    grid-template: .6fr .3fr 10px 1fr .5fr 1fr .5fr / .5fr 2fr 2fr .5fr;
}

.left_Half {
    grid-area: 4/2 / 6/3;
    display: grid;
    grid-template: subgrid / subgrid;
    color: hsl(0,0%,100%);
}

.left_Half > h1 {
    grid-area: 1/1 / 2/2;
    font-size: 3em;
    margin: 0;
    place-self: end;
}

.left_Half > p {
    grid-area: 2/1 / 3/2;
    font-size: 1em;
    place-self: end;
}

aside {
    grid-area: 2/3 / 3/4;
    background-color: hsl(248, 32%, 49%);
    color: white;

    width: 80%;
    height: 80%;
    place-self: center;
}

aside > div > p { 
    font-weight: 300;
    text-align: center;
 }

 .ad {
    display: flex;
    place-content: center;
    height: 100%;
    place-items: center;
    align-self: auto;
 }

.right_Half {
    grid-area: 4/3 / 8/4;
    background-color: hsl(0,0%,100%);
    width: 80%;
    height: 80%;
    align-self: auto;
}

.right_Half > form > button {
    background-color: hsl(154, 59%, 51%);
    color: hsl(0, 0%, 100%);
}

.form {
    height: 100%;
    display: grid;
    grid-template: repeat(5, 1fr .2fr)/ 1fr;
    padding: 6% 0;
    position: relative;
}

.form > div > p {
    font-size: x-small;
    text-align: center;
}

.form > label {
    position: absolute;
}

.input_Wrap {
    height: 75%;
    width: 85%;
    place-self: center;
    position: relative;
}

input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 1px solid hsl(246, 25%, 77%);

    font-size: medium;
    font-family: inherit;
    outline: none;
}

.grid_One { grid-area: 1/1 / 2/2;}
    .span_One { grid-area: 2/1 / 3/2;}
.grid_Two { grid-area: 3/1 / 4/2;}
    .span_Two { grid-area: 4/1 / 5/2;}
.grid_THree { grid-area: 5/1 / 6/2;}
    .span_Three { grid-area: 6/1 / 7/2;}
.grid_Four { grid-area: 7/1 / 8/2;}
    .span_Four {grid-area: 8/1 / 9/2;}
.grid_Five { grid-area: 9/1 / 10/2;}
.grid_Six { grid-area: 10/1 / 11/2;}


.icon {
    content: url(/images/icon-error.svg);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    right: 3%;
    width: 5%;
}

input { padding-left: 5%;}
input:hover { border: 1px solid hsl(249, 10%, 26%) }

button {
    font-size: larger;
    font-family: inherit;
    letter-spacing: 3px;
    font-weight: 500;
    border-radius: 8px;
}

.error {
    align-self: center;
    color: hsl(0, 100%, 74%);
    font-style: italic;
    font-size: small;
    margin: 0 0 0 55%;
}

.marginL_10 {margin-left: 10%;}
.paddingR_5 {padding-right: 5%;}
.width_85 { width: 85%;}
.bold { font-weight: bold; }
.red {color:hsl(0, 100%, 74%) }
.place_Center { place-self: start; }
.justify_Start { justify-self: start;}
.round_Corner { border-radius:10px; }
.upperCase { text-transform: uppercase;}
.shadow { box-shadow: 0 9px 0 hsl(0, 71%, 66%);}
.off { visibility: hidden;}
.terms {color: hsl(246, 25%, 77%)}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }



@media screen and (max-width: 375px) {
    main {
        height: unset;
        grid-template: .3fr .6fr .6fr .3fr .3fr 3fr / auto;
        place-content: center;
    }

    body {
        background-image: url(/images/bg-intro-mobile.png);
    }

    .left_Half {
        grid-area: 2/1 / 4/2;
        place-items: center;
    }

    .left_Half > h1 {
        font-size: 1.5em;
        width: 60%;
        place-self: inherit;
    }

    .left_Half > p {
        font-size: .9em;
        width: 80%;
        text-align: center;
        place-self: inherit;
    }

    button { 
        font-size: medium;
        letter-spacing: 1px;
    }
    
      
    input { font-size: small;}
    .input_Wrap { height: 100%; }
    .error { margin: 0 0 0 25%;}
    aside { grid-area: 5/1 / 6/2; }
    .ad { padding: 0 20%; }
    .right_Half { grid-area: 6/1 / 7/2;}
    .justify_End { justify-self: center; }
    .form > div > p {font-size: .4em;}
    footer { display: none};


}